@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Roboto);

body, html {
  height: 100%;
}

.navbar {
    margin-bottom: 0;
    background-color: #000000;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #000000 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #FFF !important;
    background-color: #000000 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #00000 !important;
}

.bg-1 { 

    background: url(../pictures/behind.jpg);
   	background-repeat: no-repeat;
	background-position: top;
    background-size: cover;
    color: #FFF;
}
.jumbotron { 
    background-color: transparent;
    color: #ffffff;
    padding: 200px 200px;
}

.bg-analysis { 
    background-color: #FFF;
    color: #000000;
}
 
.bg-design { 
    background-color: #000000;
    color: #FFF;
}

.bg-implementation { 
    background-color: #FFF;
    color: #000000;
}

.bg-validation { 
    background-color: #000000;
    color: #FFF;
}

.bg-embedding { 
    background-color: #FFF;
    color: #000000;
}

.bg-links { 
    background-color: #000000;
    color: #FFF;
}
.container-fluid {
      padding: 60px 50px;
      /*padding-top: 60px;*/
      /*padding-bottom: 50px;*/
  }
 .panel {
      border: 1px solid #f4511e; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
      color: #0000000 !important;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #f4511e;
      background-color: #fff !important;
      color: #f4511e;
  }
  .panel-heading {
      color: #000000 !important;
      background-color: #f4511e !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
    .panel-body {
      color: #000000 !important;
    }
  .panel-footer {
      background-color: white !important;
      color: #000000 !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #0000000;
      font-size: 14px;
  }
.logo{
        float: left;
        text-align: left;
        height: auto;
    }
.img-responsive{
        float: left;
        text-align: left;
        height: 70px;
    }

